<div class="container">
<div class="stepwizard col-md-offset-3 mt-5">
    <div class="stepwizard-row setup-panel" *ngIf="steps.length">
      <div class="stepwizard-step" *ngFor="let step of steps;let i = index">
        <a href="#step-1" type="button" class="btn btn-{{ step.completed ? 'primary':'default' }} btn-circle">{{ i+1 }}</a>
        <p>{{ step.title }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-sm-12">
      <div class="card margin-top">
        <div class="card-header text-center">{{ currentStep?.title }}</div>
        <div class="card-body">
            <dynamic-form-builder *ngIf="!finalProcess;else success" (onSubmit)="submitForm($event)" [form]="form" [fields]="fields"></dynamic-form-builder>
          <ng-template #success>
            <div class="alert alert-success">
              Offer Generated successfully!
            </div>
          </ng-template>
          
          </div>
      </div>
    </div>
</div>
</div>
